nextflow.enable.dsl = 2 
// nextflow.config


// --- All Parameters Defined in One Place ---
params {
    // Input/Output Options
    raw_reads = "data/**/*.fastq*"
    outdir = "results"

    // Tool-specific Parameters
    adapters = "${baseDir}/adapters/TruSeq3-PE.fa"

    // Reference Genome Map
    references = [
        h1n1: "${baseDir}/results/cleaned_reference/h1n1/h1n1.fasta",
        h3n2: "${baseDir}/results/cleaned_reference/h3n2/h3n2.fasta"
    ]

    // HA Segment ID Map
    ha_segment_ids = [
        h1n1: 'NC_026433.1',
        h3n2: 'CY254734.1'
    ]

    // Nextclade Dataset Map
    nextclade_datasets = [
        h1n1: "${baseDir}/nextclade_datasets/h1n1",
        h3n2: "${baseDir}/nextclade_datasets/h3n2"
    ]
}

// --- Process-specific Configurations ---
process {
    // All processes will use the same single Conda environment by default
    conda = "${baseDir}/envs/environment.yml"

    // Assign a label to the fastqc process for specific configuration
    withName: 'FASTQC' {
        label = 'fastqc'
    }

    // Define resources for different groups of processes using labels
    withLabel: 'trimmomatic' {
        cpus = 4
        memory = '8GB'
    }
    withLabel: 'nanofilt' {
        cpus = 4
        memory = '8GB'
    }
    withLabel: 'align' {
        cpus = 4
        memory = '8GB'
    }
}

// --- Executor and Conda Settings ---
executor {
    name = 'local'
    cpus = 4
    memory = '8.GB'
}

conda {
    enabled = true
    cacheDir = "${baseDir}/.conda_cache"
}